.fondo {
    height: 200vh;
    background-image: url("../../..//assets/img/fondo_duoc.jpg");
    background-size: cover;
    text-align: center;
}

ion-card {
    --background: linear-gradient(#92c0cb, #ac9a75);
    margin: 0 auto;
    top: 5vh;
    height: 80vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

}

ion-item {
    --background: none;
    width: 300px;

}