ion-card {
    --background: linear-gradient(#269fbd, #dddee0);
    margin: 0 auto;
    top: 0vh;
    height: 90vh;
    width: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;


}

.content{
    background-color: grey;
}
.fondo {
    height: 90vh;
    background-color: rgb(160, 154, 148);
    background-size: cover;
    text-align: center;
}