
<ion-content>
  <div class="fondo">
    <ion-card >
      <ion-title>ASIGNATURA</ion-title>

      <ion-item >
        <ion-label position="fixed">sigla</ion-label>
        <ion-input [(ngModel)]="asignatura.sigla" type="text" placeholder="ingrese sigla"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Nombre</ion-label>
        <ion-input [(ngModel)]="asignatura.nombre" type="text" placeholder="ingrese nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">profesor</ion-label>
        <ion-input [(ngModel)]="asignatura.profesor" type="text" placeholder="ingrese profesor"></ion-input>
      </ion-item>
      <ion-toolbar >
        <ion-button slot="" (click)="registrar()" >Registrar</ion-button>
        <ion-button slot="" (click)="modificar()" >Modificar</ion-button>
      </ion-toolbar>
      
    </ion-card>


    <br>
    <br>
    <h1>LISTA DE PERSONAS</h1>
    <ion-card class="card2">

      <ion-list *ngFor="let d of asignaturas">
        <ion-item (click)="cargar(d.id)">
          <br>
          <br>
          <br>
          <ion-card-tile>
            ID: {{d.id}} <br><br> sigla: {{d.sigla}} <br><br> Nombre: {{d.nombre}}
          </ion-card-tile>
<br>
<br>
<br>
          <ion-button (click)="eliminar(d.id)">Eliminar</ion-button>
        </ion-item>
      </ion-list>

    </ion-card>
  </div>



</ion-content>