@use '../../../global.scss';




.cardIngrear{

    --background: linear-gradient(#269fbd, #dddee0);

}  
.boton{

    --background: linear-gradient(#ffd900, #ffd900,);

}  
.input{

    background-color: #dddee0;

}  