
<ion-content>
  <ion-card class="cardIngrear">
    <br>
    <br>
    <br>
    <br>
    <ion-card-content>
    <ion-label position="stacked">Ingresar Codigo:</ion-label>
    <ion-input class="input" [(ngModel)]="codAlumno" [ngModelOptions]="{standalone: true}" id="scanearQr" type="text"  placeholder="Ingrese Codigo"></ion-input>
    <ion-item class="boton">
      <ion-button expand="full" color="warning" (click)="modificar()">Ingresar QR</ion-button>    
    </ion-item>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  </ion-card-content>
  </ion-card>
</ion-content>
